.container{
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: white;

}
.order__wrapper{
    overflow: scroll;
    height: 80vh;
    border-radius: 0 0 10px 10px;
    background-color: lightgray;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.order__comment{
    width: 100%;
    border: none;
    padding: 14px;
    font-size: 15px;
    background-color: white;
    color: gray;
    margin-top: 15px;
}
.order__comment:active{
    border: none;
}
.order__comment:focus{
    border: none;
}
.comment__subtext{
    font-size: 15px;
    color: grey;
    padding: 14px;
}
.input__wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
}
.order__title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:14px;
    background-color: white;
}
.order__topper{
    width: 100%;

}
.order__link{
    text-decoration: none;
    color: lightgreen;
}