.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 5px 15px;
    border-bottom: 1px solid lightgray;
}
.header__titleWrap{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header__title{
    font-size: 16px;
    margin-bottom: 4px;
}
.header__subtitle{
    font-size: 12px;
}
